<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h2>Now your result !</h1>
      <p>Your word: <strong><%= @attempt %></strong></p>
      <p>Time Taken to answer: <strong><%= @result[:time] %></strong></p>
      <p>Translation: <strong><%= @result[:translation] %></strong></p>
      <p>Your score: <strong><%= @result[:score] %></strong></p>
      <p>Message: <strong><%= @result[:message] %></strong></p>
    </div>
  </div>
</div>
