<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h2>Now your result !</h1>
      <p>Your word: <strong><%= @attempt %></strong></p>
      <p>Time Taken to answer: <strong><%= @result[:time] %></strong></p>
      <p>Translation: <strong><%= @result[:translation] %></strong></p>
      <p>This game score: <strong><%= @result[:score] %></strong></p>
      <p>Your total score: <strong><%= session[:score] %></strong></p>
      <p>Message: <strong><%= @result[:message] %></strong></p>
      <h3><%= link_to "Play one more time!", root_path %></h3>
      <!-- <%= session.inspect %> -->
    </div>
  </div>
</div>
